/*------------------------------------
    Element: Heading
------------------------------------*/

.el-heading {
    max-width: 636px;

    p {
        font-size: 18px;
        margin-bottom: 30px;
    }
    h1 {
        font-weight: 400;
        letter-spacing: -2px;
        margin-bottom: 30px;
    }
    &.center {
        max-width: 600px;
        text-align: center;
    }
}
